<h1>Todo</h1>


<ul>
    <li>用户系统(Users)</li>
    <ul>
        <li><del>登录</del></li>
        <li><del>注册</del></li>
        <li><del>登出</del></li>
        <li><del>个人信息</del></li>
        <li><del>绑定个人微信账号</del></li>
        <ul>
            <li><del>webhook</del></li>
            <li><del>事件列表</del></li>
        </ul>
    </ul>
    <li>Passcode系统(Accesses)</li>
    <ul>
        <li><del>passcode</del>接口</li>
        <li><del>生成</del></li>
        <li><del>无效</del></li>
        <li>统计passcode访问情况</li>
        <li>passcode过期检查</li>
    </ul>
    <li>简历系统(Resume)</li>
    <ul>
        <li><del>创建简历</del></li>
        <li><del>markdown</del>解析</li>
    </ul>
    <li>后台统计</li>
    <ul>
        <li>
            集成后台UI，数据可视化
        </li>
    </ul>
    <li>About</li>
    <li>Wiki</li>
    <li>博客插件</li>
    <ul>
        <li>Hire me</li>
        <li>输入passcode 或 扫描微信求passcode</li>
    </ul>
</ul>


        <div class="wrapper clearfix">
            <div class="tips">
                <p>这是个提醒</p>
            </div>
            <div class="left">
                <ul>
                    <li><%= link_to "查看简历", :resumes %></li>
                    <li><%= link_to "创建简历", :new_resume %></li>
                    <li><%= link_to "创建PASSCODE", :new_access %></li>
                    <li><%= link_to "PASSCODE列表", :accesses %></li>
                    <li><a href="">访问统计</a></li>
                </ul>
            </div>
            <div class="right">
                <h2>查看简历</h2>
            </div>
        </div>
