<h1>创建PASSCODE</h1>
<%= form_for @access do |f| %>
    <p>PASSCODE名称</p>
    <p><%= f.text_field :remark %></p>
    <p>过期时间</p>
    <p><%= f.text_field :expire_at %></p>
    <p><%= f.submit "生成" %></p>
<% end %>
